{
  "miniprogramRoot": "./dist",
  "projectname": "WealthOS",
  "description": "WealthOS 投资理财小程序",
  "appid": "YOUR_WECHAT_APPID_HERE",
  "setting": {
    "urlCheck": false,
    "es6": true,
    "enhance": true,
    "compileHotReLoad": true,
    "postcss": true,
    "minified": false,
    "checkInvalidKey": true,
    "checkSiteMap": true,
    "uploadWithSourceMap": true,
    "babelSetting": {
      "ignore": [],
      "disablePlugins": [],
      "outputPath": ""
    }
  },
  "compileType": "miniprogram",
  "libVersion": "2.29.0",
  "simulatorType": "wechat",
  "simulatorPluginLibVersion": {},
  "condition": {}
} 